:root {
  --widCont: 1280px;
  --heigtNav: 60px;
  --paadCont: 70px;
  --navCor: #EBEBEB;
  --navCor_hover: #d8d8d8;
}

@media (max-width: 600px) {
  :root {
    --widCont: 100%;
    --heigtNav: 80px;
    --paadCont: 15px;
  }
}

body {
  margin: 0px;
  font-family: Roboto;
}

#contayner {
  width: var(--widCont);
  margin: auto;
}

#contayner main {
  margin-top: 15px;
  padding-left: var(--paadCont);
  padding-right: var(--paadCont);
  background-color: white;
}

#contayner main #sect_Principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  #contayner main #sect_Principal {
    display: block;
  }
}

#contayner main #sect_Principal img {
  width: 740px;
  height: 400px;
}

@media (max-width: 600px) {
  #contayner main #sect_Principal img {
    width: 100%;
    height: 230px;
  }
}

#contayner main #sect_Principal article {
  width: 370px;
}

@media (max-width: 600px) {
  #contayner main #sect_Principal article {
    width: 100%;
  }
}

#contayner main #sect_Principal article h1 {
  margin-top: 0px;
  font-weight: bold;
  font-size: 24px;
  color: #BC0000;
}

#contayner main #sect_Principal article p {
  font-size: 16px;
}

#contayner main #sect_secundaria .noticias {
  background: #BC0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 215px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#contayner main #sect_secundaria .noticias img {
  margin: 10px;
  width: 20px;
  height: 20px;
}

#contayner main #sect_secundaria .noticias h2 {
  color: #FFFFFF;
  font-style: italic;
  font-size: 24px;
  margin: 0px;
  line-height: 40px;
}

#contayner main #sect_secundaria .outros_assuntos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 600px) {
  #contayner main #sect_secundaria .outros_assuntos {
    display: block;
  }
}

#contayner main #sect_secundaria .outros_assuntos article {
  width: 360px;
  background: #EBEBEB;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 600px) {
  #contayner main #sect_secundaria .outros_assuntos article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 4px;
    height: 110px;
    background: #EBEBEB;
    margin-bottom: 15px;
  }
  #contayner main #sect_secundaria .outros_assuntos article p {
    margin: 10px;
  }
}

#contayner main #sect_secundaria .outros_assuntos article img {
  width: 100%;
  height: 165px;
}

@media (max-width: 600px) {
  #contayner main #sect_secundaria .outros_assuntos article img {
    width: 33%;
    height: 100%;
  }
}

#contayner footer {
  margin-top: 35px;
  padding-left: var(--paadCont);
  padding-right: var(--paadCont);
  height: var(--heigtNav);
  background-color: var(--navCor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
}

#contayner footer p {
  margin: 0px;
  line-height: var(--heigtNav);
}

#contayner footer div {
  padding-top: 20px;
  padding-bottom: 20px;
}

#contayner footer div img {
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=style.css.map */